.card{
  height:300px;
  width:700px;
  display: grid;
  grid-template-columns:500px 600px;
  grid-gap:50px;
  margin-left:150px;
  margin-top:30px;
}
.heading{
  text-align: center;
  font-size:24px;
}
.main2{
  margin-top:30px;
  line-height:30px;
}
.link>button{
  margin-left:20px;
  gap:30px;
}
@media only screen and (min-width: 321px) and (max-width: 720px){
body {
    display: block;
    margin: 8px;
}
}